.hasborder{
  border: 3px solid black;
}
.form-input{
  margin: 0 1em;
  border: 1px solid red;
}
.output-display{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.output-container .output-msg{
  border: 1px solid red;
  font-weight: bold;
  color: red;
}
